@import url('https://fonts.googleapis.com/css?family=Muli');

/* body{

    font-family: 'Muli', sans-serif;
    background-image: url(../imgs/background.jpg);
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;

} */
body {
    height: 100%;
    /*font-size: 0.8em !important;*/
    /*-webkit-text-size-adjust: none;*/

}

html {
    font-size: 90%;
}

.container-fluid {

    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;

}

div.sticky {
    color: #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 55%;
    background-color: #3B5998;
    border-radius: 50%;
    padding: 13px;
    text-align: center;
    font-size: 20px;
    width: 90px;
    height: 90px;
    margin-left: 92%;

}

.background-image {
    background: url('../imgs/background.webp') no-repeat center center;
}

.item-res {
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    padding: 22px;
    border-radius: 4px;
    margin-bottom: 15px
}

.showcase {
    /*margin-top:600px;*/
    height: 600px;
    /* margin: 100px 20px; */
    text-align: center;
    border-bottom: #ccc 1px solid;
    /* margin-bottom: 30px; */
    color: #fff;

}

h2 {
    text-align: center;
}

header {

    height: 90px;
    line-height: 90px;
    /*margin-bottom: 40px;*/

}

header div a .logo {
    /* width: 50%; */
    float: left;
}

.top-land {
    float: right;
    /* padding-right: 2%; */
    /* margin-left: 10%; */

}

nav li {
    display: inline-block;
}


.nav-scroller {
    /* background-color:#e6a66d; */
    /* position: relative; */
    /* z-index: 2; */
    /* height: 2.75rem; */
    /* height: 50px; */
    /* height: 80px; */
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 60px;
    font-size: 17px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    margin-bottom: 50px;

    /* display: flex; */
}

.list-nav {
    padding-left: 15px;

}

.floating-main {
    width: 850px;
    margin: auto;
}

.box-search-page {
    width: 20%;
    /*width:30%;*/
    border-width: 0;
    /* margin: auto; */
    height: 50px;
    margin-top: 15px;
    border-radius: 6px;
    margin-left: 20px;
    float: left;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.choice-location {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.search-box {
    /*font-size: 14px;*/
    width: 820px;
    line-height: 1.42857143;
    /*border-radius: 4px;*/
    height: 50px;
    border-radius: 4px;
    background: white
}


.footer {
    background-color: #00d191;
    height: 15rem;
    color: white;
}

input:focus {
    outline: none;
}

.form-group {
    margin-top: 10px;
    float: left;
    width: 240px;
    margin-right: 10px;
}


.form-control:focus {
    border-color: #CCC;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box-district {
    margin-top: 5px;
    /* margin-bottom: 3px; */
    width: 80%;
    height: 40px;
    border: 0;
}

.box {
    margin-top: 5px;
    /* margin-bottom: 3px; */
    width: 80%;
    height: 40px;
    border: 0;
}

.small-box {
    /*margin-top: 5px;*/
    /* margin-bottom: 3px; */
    width: 90%;
    height: 50px;

    border: 0;
}

.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.form-control {
    /*border-radius: 1.5rem;*/
    /*border:0;*/
}

.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.big-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 21px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #03ae03;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #03ae03;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.suggest-collection:hover {
    background: yellow;
    color: #007bff;
}

.suggest-index:hover {
    background: yellow;
    color: #007bff;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.borderless td, .borderless th {
    border: none;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.bg-light:hover {
    background: yellow;
    color: #007bff;
}

@media (max-width: 800px) {
    .header-left {
        margin-left: 27%;
        width: 26%;
    }

    .profile_details ul li {
        margin-right: 10px;
    }

    .col-md-3.widget {
        width: 48%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .col-md-3.widget:nth-child(3) {
        margin-right: 2%;
    }

    .col-md-3.widget:nth-child(4) {
        margin-bottom: 2%;
    }

    .sidebar-left {
        width: 210px !important;
    }

    .cbp-spmenu-push div#page-wrapper {
        margin: 0 0 0 13em;
    }

    .header-right {
        float: right;
        width: 47%;
    }


    .button_set_one.three .btn {
        margin: 5px 2px 0;
    }
}

.profile_details_left {
    float: left;
    padding-left: 5px;
}

li.dropdown.head-dpdn:nth-child(3) {
    border-right: 1px solid transparent;
}

li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1.25em 0;
    float: left;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.header-left span.badge {
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    background: #ff6c5f;
    line-height: 15px;
    width: 20px;
    height: 20px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 16%;
    padding: 2px 0 0;
}

.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}

ul.dropdown-menu {
    /* animation: flipInX 1s ease;
    -moz-animation: flipInX 1s ease;
    -webkit-animation: flipInX 1s ease;
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    data-wow-delay:".1s";
    */

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

ul.dropdown-menu {
    min-width: 210px;
}