
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post"
                  action="">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Địa chỉ email</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Mật khẩu</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Địa chỉ email hoặc mật khẩu không đúng.
                        Xin hãy thử lại.
                    </p>
                {% endif %}

                <input type="submit" value="Đăng nhập"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
                <div><p style="margin-top:10px; color:#4285f4">
                    <a href="{% url 'resetRequire' %}">Quên mật khẩu ?</a></p></div>

            </form>
        </div>
    </div>
{% endblock content %}