<!DOCTYPE HTML>
<html>
{% load static %}
{% include "admin/head.html" %}
<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        {% include "admin/navigation.html" %}
    </div>
    <!-- header-starts -->
    {% include "admin/header.html" %}
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="typography">
                <div class="grid_3 grid_4 widget-shadow">
                    <h3 style="width: 30%;float: left;" class="hdg">Địa điểm</h3>
                    <div style="width: 30%;float: left; color:blue;" class="mail-right dots_drop">
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-expanded="false">
                                <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="?id={{ location.id }}&active=True" {% if account.is_active %}
                                       style="pointer-events: none;" {% endif %}>
                                        <i class="fa fa-reply mail-icon "></i>
                                        Cập nhật
                                    </a>
                                </li>
                                <li>
                                    <a  {% if not account.is_active %} style="pointer-events: none;" {% endif %}
                                                                       href="?id={{ location.id }}&deactive=True"
                                                                       title="">
                                        <i class="fa fa-download mail-icon"></i>
                                        Khóa
                                    </a>
                                </li>
                                <li>
                                    <a href="?id={{ location.id }}&delete=True" class="font-red" title="">
                                        <i class="fa fa-trash-o mail-icon"></i>
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {#                    form#}
                    <div class="bs-example">
                        <table class="table">
                            <tbody>
                            <form id="login-form" method="get" action="">
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Tên địa điểm<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4>
                                    </td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <input pattern=".{1,255}" title="Tối đa 255 ký tự"
                                               name="nameLoc" type="text"
                                               style="padding:5px;width:100%;"
                                               maxlength="255" class="box-search-page" placeholder="Tối đa 255 kí tự"
                                               required>
                                    </td>

                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Địa chỉ<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <input pattern=".{1,255}" title="Tối đa 255 ký tự"
                                               name="address" type="text"
                                               style="padding:5px;width: 100%;"
                                               class="box-search-page" placeholder="Tối đa 255 kí tự"
                                               required>
                                    </td>
                                </tr>

                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Giờ mở cửa<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <select name="timeOpen1" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Chọn giờ</option>
                                            {% for i in hourL %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        <select name="timeOpen2" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Chọn phút</option>
                                            {% for i in minuteL %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Giờ đóng cửa<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <select name="timeClose1" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Chọn giờ</option>
                                            {% for i in hourL %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        <select name="timeClose2" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Chọn phút</option>
                                            {% for i in minuteL %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Mô tả<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <input type="text" style="padding:5px;width: 100%;"
                                               pattern=".{1,255}" title="Tối đa 255 ký tự"
                                               class="box-search-page"
                                               placeholder="Tối đa 255 kí tự"
                                               name="description"
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 id="h4.-bootstrap-heading">Danh mục<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a>
                                        </h4>
                                    </td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <select required name="category" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Loại danh mục</option>
                                            {% for cat in categories %}
                                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 id="h4.-bootstrap-heading">Loại ẩm thực<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a>
                                        </h4>
                                    </td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <select required name="cuisine" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Loại ẩm thực</option>
                                            {% for cui in cuisines %}
                                                <option value="{{ cui.id }}">{{ cui.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 id="h4.-bootstrap-heading">Dịch vụ<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a>
                                        </h4>
                                    </td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <select name="service" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Loại dịch vụ</option>
                                            {% for ser in services %}
                                                <option value="{{ ser.id }}">{{ ser.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 id="h4.-bootstrap-heading">Quận/Huyện<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a>
                                        </h4>
                                    </td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <select required name="district" class="form-control"
                                                style="padding:5px;width: 50%;float:left;border:0;">
                                            <option value="" selected="selected">Quận/Huyện</option>
                                            {% for dis in districts %}
                                                <option value="{{ dis.id }}">{{ dis.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Vị trí<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td style="width: 60%;float: left;" class="type-info">
                                        <input style="padding:5px;width: 50%;float: left;"
                                               class="box-search-page"
                                               name="latitude"
                                               placeholder="11 -> 21"
                                               type=number step=any
                                               min="11" max="21"
                                               required
                                        >
                                        <input style="padding:5px;width: 50%;float: left;"
                                               class="box-search-page"
                                               name="longitude"
                                               placeholder="21 -> 107"
                                               type=number step=any
                                               min="21" max="107"
                                               required
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td style="float: left;">
                                        <input type="submit" value="Thêm địa điểm"
                                               class="btn btn-primary pull-right"/>
                                        <input type="hidden" name="next" value="{{ next }}"/>
                                    </td>
                                </tr>
                            </form>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}

<script src='{% static "admin/js/SidebarNav.min.js" %}' type='text/javascript'></script>
<script>
    $('.sidebar-menu').SidebarNav()
</script>

<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>

<!-- Classie -->
<!-- for toggle left push menu script -->
<script src="{% static "admin/js/classie.js" %}"></script>
<!--scrolling js-->
<script src="{% static "admin/js/jquery.nicescroll.js" %}"></script>
<script src="{% static "admin/js/scripts.js" %}"></script>
<!--//scrolling js-->


<!-- Bootstrap Core JavaScript -->
<script src="{% static "admin/js/bootstrap.js" %}"></script>

<!-- //Bootstrap Core JavaScript -->

</body>
</html>