<!-- header-starts -->
<div class="sticky-header header-section ">
    <div class="header-left">
        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
        <!--toggle button end-->
        <div class="profile_details_left">
            <!--notifications of menu start -->
            <ul class="nofitications-dropdown">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span style="display:none;" class="badge">0</span>
                    </a>
                    <ul class="dropdown-menu" id="messages">
                        <li>
                            <div class="notification_header">
                                <h3 class="count-message">Bạn không có thông báo nào</h3>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--notification menu end -->
        <div class="clearfix"></div>
    </div>
    <div class="header-right">

        <div class="profile_details">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                                <span class="prfil-img">
                                    <img style="width:50px;height:50px;"
                                         src="{{ user.avatar }}"
                                         alt="">
                                </span>
                            <div class="user-name">
                                <p>Admin Name</p>
                                <span>{{ user.name }}</span>
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
{#                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>#}
{#                        <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>#}
                        <li><a href="/admin/user/?id={{ user.id }}"><i class="fa fa-suitcase"></i> Profile</a></li>
                        <li><a href="{% url 'logout' %}?next={{ request.path }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>