<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Glance Design Dashboard an Admin Panel Category Flat Bootstrap Responsive Website Template | Home ::
        w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>


    <!-- Bootstrap Core CSS -->

    <link href="{% static "admin/css/bootstrap.css" %}" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="{% static "admin/css/style.css" %}" rel='stylesheet' type='text/css'/>

    <!-- font-awesome icons CSS -->

    <!-- //font-awesome icons CSS-->

    <!-- side nav css file -->
    <link href='{% static "admin/css/SidebarNav.min.css" %}' media='all' rel='stylesheet' type='text/css'/>
    <!-- //side nav css file -->

    <!-- js-->
    <script src="{% static "admin/js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "admin/js/modernizr.custom.js" %}"></script>
    <script src="{% static "admin/js/admin.js" %}"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet"/>
    <!--//webfonts-->

    <!-- chart -->
    <script src="{% static "admin/js/Chart.js" %}"></script>
    <!-- //chart -->

    <!-- Metis Menu -->
    <script src="{% static "admin/js/metisMenu.min.js" %}"></script>
    <script src="{% static "admin/js/custom.js" %}"></script>
    <link href="{% static "admin/css/custom.css" %}" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        #chartdiv {
            width: 100%;
            height: 295px;
        }
    </style>
    <!--pie-chart --><!-- index page sales reviews visitors pie chart -->
    <script src="{% static "admin/js/pie-chart.js" %}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#2dde98',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#8e43e7',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ffc168',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->

    <!-- requried-jsfiles-for owl -->
    <link href="{% static "admin/css/owl.carousel.css" %}" rel="stylesheet">
    <script src="{% static "admin/js/aticowl.carousel.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: true,
                nav: true,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
</head>


<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        {% include "admin/navigation.html" %}
    </div>
    <!--left-fixed -navigation-->

    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">

            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <div class="profile_details_left">
                <!--notifications of menu start -->
                <ul class="nofitications-dropdown">
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                class="fa fa-envelope"></i><span class="badge">4</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new messages</h3>
                                </div>
                            </li>
                            <li><a href="#">
                                <div class="user_img"><img src="images/1.png" alt=""></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor amet</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li class="odd"><a href="#">
                                <div class="user_img"><img src="images/2.png" alt=""></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor amet </p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                                <div class="user_img"><img src="images/3.png" alt=""></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor amet </p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all messages</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                class="fa fa-bell"></i><span class="badge blue">4</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 3 new notification</h3>
                                </div>
                            </li>
                            <li><a href="#">
                                <div class="user_img"><img src="images/2.png" alt=""></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor amet</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li class="odd"><a href="#">
                                <div class="user_img"><img src="images/1.png" alt=""></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor amet </p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                                <div class="user_img"><img src="images/3.png" alt=""></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor amet </p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all notifications</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                class="fa fa-tasks"></i><span class="badge blue1">8</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="notification_header">
                                    <h3>You have 8 pending task</h3>
                                </div>
                            </li>
                            <li><a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar yellow" style="width:40%;"></div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar green" style="width:90%;"></div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar red" style="width: 33%;"></div>
                                </div>
                            </a></li>
                            <li><a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar  blue" style="width: 80%;"></div>
                                </div>
                            </a></li>
                            <li>
                                <div class="notification_bottom">
                                    <a href="#">See all pending tasks</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-right">
            <!--search-box-->
            <div class="search-box">
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search"
                           id="input-31"/>
                    <label class="input__label" for="input-31">
                        <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                        </svg>
                    </label>
                </form>
            </div>
            <!--//end-search-box-->

            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="images/2.jpg" alt=""> </span>
                                <div class="user-name">
                                    <p>Admin Name</p>
                                    <span>Administrator</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-suitcase"></i> Profile</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">

            {% if account %}
                <div class="typography">
                    <h2 class="title1">Typography</h2>
                    <div class="grid_3 grid_4 widget-shadow">
                        <h3 style="width: 30%;float: left;" class="hdg">Tài khoản</h3>

                        <div style="width: 30%;float: left; color:blue;" class="mail-right dots_drop">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false">
                                    <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="?id={{ account.id }}&active=True" {% if account.is_active %}
                                           style="pointer-events: none;" {% endif %}>
                                            <i class="fa fa-reply mail-icon "></i>
                                            Mở khóa
                                        </a>
                                    </li>
                                    <li>
                                        <a  {% if not account.is_active %} style="pointer-events: none;" {% endif %}
                                                                           href="?id={{ account.id }}&deactive=True"
                                                                           title="">
                                            <i class="fa fa-download mail-icon"></i>
                                            Khóa
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?id={{ account.id }}&delete=True" class="font-red" title="">
                                            <i class="fa fa-trash-o mail-icon"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="bs-example">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Username<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td class="type-info">{{ account.name }}</td>
                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Email<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td class="type-info">{{ account.email }}</td>
                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Trạng thái<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    {% if account.is_active %}
                                        <td class="type-info">Hoạt động</td>
                                    {% else %}
                                        <td class="type-info">Khóa</td>
                                    {% endif %}

                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Vai trò<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td class="type-info">Người dùng</td>
                                </tr>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Trang cá nhân<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4></td>
                                    <td class="type-info"><a
                                            href="/thanh-vien/{{ nickName }}">127.0.0.1:8080/thanh-vien/{{ nickName }}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if accounts %}
                <div class="tables">
                <h2 class="title1">Tables</h2>
                <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                <h4>Danh sách tài khoản người dùng:</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên đăng nhập</th>
                        <th>Avatar</th>
                        <th>Vai trò</th>
                        <th>Trạng thái</th>
                    </tr>

                    </thead>
                    {% for acc in accounts %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ acc.id }}</th>
                            <td>{{ acc.name }}</td>
                            <td><img style="width:50px;height:50px;" src="{{ acc.avatar }}" alt=""></td>
                            <td>Người dùng</td>
                            {% if acc.is_active %}
                                <td>Hoạt động</td>
                            {% else %}
                                <td>Khóa</td>
                            {% endif %}
                            <td>
                                <div class="dots_drop">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-expanded="false">
                                            <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                        </a>
                                        <ul class="dropdown-menu ">
                                            <li>
                                                <a href="/admin/user?id={{ acc.id }}">
                                                    <i class="fa fa-reply mail-icon"></i>
                                                    View
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div class="paging-result">
                    <div class="row justify-content-end">
                        <div class="col-lg-9 col-md-8">
                            {% if accounts.has_other_pages %}
                                <ul class="pagination">
                                    {% if accounts.has_previous %}
                                        <li class="page-item"><a class="page-link" value="1">First</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% if accounts.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.number|add:'-5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in accounts.paginator.page_range %}
                                        {% if accounts.number == i %}
                                            <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>
                                        {% elif i > accounts.number|add:'-5' and i < accounts.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" value="{{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if accounts.paginator.num_pages > accounts.number|add:'4' %}
                                        <li class="page-item"><a value="{{ accounts.number|add:'5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% if accounts.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.paginator.num_pages }}">Last</a>
                                            {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                                    {% endif %}
                                    <li class="page-item disabled">  <span class="page-link">
            Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}
        </span></li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <p>&copy; 2018 Dungvd Design Dashboard. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                                                                               target="_blank">w3layouts</a></p>
</div>
<!--//footer-->
</div>

<!-- side nav js -->
<script src='{% static "admin/js/SidebarNav.min.js" %}' type='text/javascript'></script>
<script>
    $('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->

<!-- Classie -->
<!-- for toggle left push menu script -->
<script src="{% static "admin/js/classie.js" %}"></script>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>
<!-- //Classie -->
<!-- //for toggle left push menu script -->

<!--scrolling js-->
<script src="{% static "admin/js/jquery.nicescroll.js" %}"></script>
<script src="{% static "admin/js/scripts.js" %}"></script>
<!--//scrolling js-->


<!-- Bootstrap Core JavaScript -->
<script src="{% static "admin/js/bootstrap.js" %}"></script>

<!-- //Bootstrap Core JavaScript -->

</body>
</html>