<!DOCTYPE HTML>
<html>
{% load static %}
{% include "admin/head.html" %}
<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        {% include "admin/navigation.html" %}
    </div>
    <!-- //header-ends -->
    {% include "admin/header.html" %}
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="row">
                <div style="width:60%;" class="col-xs-9 col-sm-9 col-mm-9 col-lg-9">
                    <div id="word-search">
                        <input id="user-name" type="text" style="width:100%;padding: 20px;"
                               class="box-search-page" placeholder="Tên địa điểm..."
                               aria-label="Search">
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-mm-3 col-lg-3">
                    <a href="/admin/location/add/">
                        <button style="height:50px;" type="button" class="btn btn-info btn-flat btn-pri btn-sm">
                            Thêm địa điểm
                        </button>
                    </a>
                </div>
            </div>

            {% if location %}
                <div class="typography">
                    {#                    <h2 class="title1">Typography</h2>#}
                    <div class="grid_3 grid_4 widget-shadow">
                        <h3 style="width: 30%;float: left;" class="hdg">Địa điểm</h3>
                        <div style="width: 30%;float: left; color:blue;" class="mail-right dots_drop">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false">
                                    <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li id="update-button">
                                        <a href="#">
                                            <i class="fa fa-reply mail-icon "></i>
                                            Cập nhật
                                        </a>
                                    </li>
                                    {% if not location.is_active %}
                                        <li>
                                            <a href="/admin/location/?id={{ location.id }}&is_active=True">
                                                <i class="fa fa-reply mail-icon "></i>
                                                Xác nhận hoạt động
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="/admin/location/?id={{ location.id }}&delete=True" class="font-red" title="">
                                            <i class="fa fa-trash-o mail-icon"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bs-example">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><h4 id="h4.-bootstrap-heading">Avatar<a
                                            class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                            class="anchorjs-icon"></span></a></h4>
                                    </td>
                                    <td class="type-info"><img style="width:360px;" src="
                                            {% if avatar %}{{ avatar }}{% else %}{{ location.avatar }}{% endif %}"
                                                               alt="">
                                    </td>
                                    <td>
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <button type="submit">Upload</button>
                                        </form>
                                    </td>

                                </tr>
                                <form id="login-form" method="get" action="">
                                    <tr>
                                        <td><h4 id="h4.-bootstrap-heading">Tên địa điểm<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h4>
                                        </td>
                                        <td class="type-info">
                                            <input type="text" style="padding:5px;width:100%;"
                                                   placeholder="{{ location.name }}"
                                                   maxlength="255"
                                                   name="nameLoc"
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h4 id="h4.-bootstrap-heading">Địa chỉ<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h4></td>
                                        <td class="type-info">
                                            <input type="text" style="padding:5px;width:100%;"
                                                   placeholder="{{ location.address }}"
                                                   maxlength="255"
                                                   name="address"
                                            >
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><h4 id="h4.-bootstrap-heading">Thời gian mở cửa<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h4></td>
                                        <td class="type-info">
                                            <input type="text" style="padding:5px;width:100%;"
                                                   placeholder="{{ location.workTime24h }}"
                                                   maxlength="30"
                                                   name="time"
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h4 id="h4.-bootstrap-heading">Xem tại link<a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h4></td>

                                        <td class="type-info">
                                            <a href="/ha-noi/{{ location.url }}">Link</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 id="h4.-bootstrap-heading"><a
                                                    href="/admin/location/{{ location.id }}/bai-do-xe/">Bãi đỗ xe</a><a
                                                    class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                    class="anchorjs-icon"></span></a>
                                            </h4>
                                        </td>
                                        <td class="type-info"><a href=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><h4 id="h4.-bootstrap-heading"><a
                                                href="/admin/location/{{ location.id }}/binh-luan/">Danh sách bình
                                            luận</a><a
                                                class="anchorjs-link" href="#h4.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h4></td>
                                        <td class="type-info"><a href=""></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="float: left;">
                                            {#                                            <a href="?id={{ location.id }}&update=True">#}
                                            <input id="show-button-update" type="submit" value="Cập nhật địa điểm"
                                                   style="display: none;"
                                                   class="btn btn-primary pull-right"/>
                                            {#                                            </a>#}
                                            <input type="hidden" name="id" value="{{ location.id }}"/>
                                        </td>
                                    </tr>
                                </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if locations %}
                <div class="tables">
                <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                <h4>Danh sách địa điểm:</h4>
                <table id="myTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 10%;" onclick="sortTable(0)">ID</th>
                        <th style="width: 37%;" onclick="sortTable(1)">Tên địa điểm</th>
                        <th style="width: 15%;">Avatar</th>
                        <th style="width: 20%;">Address</th>
                    </tr>

                    </thead>
                    {% for loc in locations %}
                        <tbody>
                        <tr>
                            <td>{{ loc.id }}</td>
                            <td>{{ loc.name }}</td>
                            <td><img style="width:50px;height:50px;" src="{{ loc.avatar }}" alt=""></td>
                            <td>{{ loc.address }}</td>
                            <td>
                                <div class="dots_drop">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-expanded="false">
                                            <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                        </a>
                                        <ul class="dropdown-menu ">
                                            <li>
                                                <a href="/admin/location?id={{ loc.id }}">
                                                    <i class="fa fa-reply mail-icon"></i>
                                                    View
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div class="paging-result">
                    <div class="row justify-content-end">
                        <div class="col-lg-9 col-md-8">
                            {% if locations.has_other_pages %}
                                <ul class="pagination">
                                    {% if locations.has_previous %}
                                        <li class="page-item"><a class="page-link" value="1">First</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ locations.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% if locations.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ locations.number|add:'-5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in locations.paginator.page_range %}
                                        {% if locations.number == i %}
                                            <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>
                                        {% elif i > locations.number|add:'-5' and i < locations.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" value="{{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if locations.paginator.num_pages > locations.number|add:'4' %}
                                        <li class="page-item"><a value="{{ locations.number|add:'5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% if locations.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ locations.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ locations.paginator.num_pages }}">Last</a>
                                            {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                                    {% endif %}
                                    <li class="page-item disabled">  <span class="page-link">
            Page {{ locations.number }} of {{ locations.paginator.num_pages }}
        </span></li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}

<!-- side nav js -->
<script src='{% static "admin/js/SidebarNav.min.js" %}' type='text/javascript'></script>
<script>
    $('.sidebar-menu').SidebarNav()
</script>

<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>

<!-- Classie -->
<!-- for toggle left push menu script -->
<script src="{% static "admin/js/classie.js" %}"></script>
<!--scrolling js-->
<script src="{% static "admin/js/jquery.nicescroll.js" %}"></script>
<script src="{% static "admin/js/scripts.js" %}"></script>
<!--//scrolling js-->


<!-- Bootstrap Core JavaScript -->
<script src="{% static "admin/js/bootstrap.js" %}"></script>

<!-- //Bootstrap Core JavaScript -->

</body>
</html>