<!DOCTYPE HTML>
<html>
{% load static %}
{% include "admin/head.html" %}
<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        {% include "admin/navigation.html" %}
    </div>
    <!-- header-starts -->
    {% include "admin/header.html" %}
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            {% if parkings %}
                <div class="tables">

                <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-mm-12 col-lg-12">
                        <div id="word-search">
                            <input id="user-name" type="text" style="width:30%;padding: 20px;"
                                   class="box-search-page" placeholder="ID người dùng..."
                                   aria-label="Search">
                        </div>
                    </div>
                </div>

                <h4>Danh sách tài khoản người dùng:</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Avatar</th>
                        <th style="width:15%;">Name</th>
                        <th style="width: 40%;">Nội dung</th>
                    </tr>
                    </thead>
                    {% for pk in parkings %}
                        <tbody>
                        <tr>
                            <td><img style="width:50px;height:50px;" src="{{ pk.map }}" alt=""></td>
                            <td>{{ pk.name }}</td>
                            <td>{{ pk.address }}</td>

                            <td>
                                <div class="dots_drop">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-expanded="false">
                                            <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                        </a>
                                        <ul class="dropdown-menu ">
                                            <li>
                                                <a href="/admin/location/27/binh-luan/?delete={{ pk.id }}">
                                                    <i class="fa fa-reply mail-icon"></i>
                                                    View
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div class="paging-result">
                    <div class="row justify-content-end">
                        <div class="col-lg-9 col-md-8">
                            {% if parkings.has_other_pages %}
                                <ul class="pagination">
                                    {% if parkings.has_previous %}
                                        <li class="page-item"><a class="page-link" value="1">First</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ parkings.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% if parkings.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ parkings.number|add:'-5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in parkings.paginator.page_range %}
                                        {% if parkings.number == i %}
                                            <li class="page-item active"><a class="page-link" href="">{{ i }}</a>
                                            </li>
                                        {% elif i > parkings.number|add:'-5' and i < parkings.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" value="{{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if parkings.paginator.num_pages > parkings.number|add:'4' %}
                                        <li class="page-item"><a value="{{ parkings.number|add:'5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% if parkings.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ parkings.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ parkings.paginator.num_pages }}">Last</a>
                                            {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                                    {% endif %}
                                    <li class="page-item disabled">  <span class="page-link">
            Page {{ parkings.number }} of {{ parkings.paginator.num_pages }} pages
        </span></li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div>Đang cập nhật...</div>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

{% include "admin/footer.html" %}
<!-- side nav js -->
<script src='{% static "admin/js/SidebarNav.min.js" %}' type='text/javascript'></script>
<script>
    $('.sidebar-menu').SidebarNav()
</script>

<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>

<!-- Classie -->
<!-- for toggle left push menu script -->
<script src="{% static "admin/js/classie.js" %}"></script>
<script src="{% static "admin/js/jquery.nicescroll.js" %}"></script>
<script src="{% static "admin/js/scripts.js" %}"></script>
<!--//scrolling js-->


<!-- Bootstrap Core JavaScript -->
<script src="{% static "admin/js/bootstrap.js" %}"></script>

<!-- //Bootstrap Core JavaScript -->

</body>
</html>