<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{% load static %}
{% include "admin/head.html" %}

<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        {% include "admin/navigation.html" %}
    </div>
    <!--left-fixed -navigation-->

    <!-- header-starts -->
    {% include "admin/header.html" %}
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-mm-9 col-lg-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="custom-search-input">
                                    <form action="" method="get">
                                        <div class="input-group col-md-12">

                                            <input style="height: 25px;" type="text" class="form-control input-lg"
                                                   name="user-name"
                                                   placeholder="Tên người dùng"/>
                                            <input type="hidden" name="next" value="{{ next }}"/>
                                            <span class="input-group-btn">
                                            <button type=submit class="btn btn-info btn-lg">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if account %}
                <div class="typography">
                    {#                    <h2 class="title1">Typography</h2>#}
                    <div class="grid_3 grid_4 widget-shadow">
                        <h4 style="width: 30%;float: left;" class="hdg">Tài khoản</h4>

                        <div style="width: 30%;float: left; color:blue;" class="mail-right dots_drop">
                            <div class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-expanded="false">
                                    <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="?id={{ account.id }}&active=True" {% if account.is_active %}
                                           style="pointer-events: none;" {% endif %}>
                                            <i class="fa fa-reply mail-icon "></i>
                                            Mở khóa
                                        </a>
                                    </li>
                                    <li>
                                        <a  {% if not account.is_active %} style="pointer-events: none;" {% endif %}
                                                                           href="?id={{ account.id }}&deactive=True"
                                                                           title="">
                                            <i class="fa fa-download mail-icon"></i>
                                            Khóa
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?id={{ account.id }}&delete=True" class="font-red" title="">
                                            <i class="fa fa-trash-o mail-icon"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="bs-example">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <h7 id="h7.-bootstrap-heading">Username<a
                                                class="anchorjs-link" href="#h7.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h7>
                                    </td>
                                    <td class="type-info">{{ account.name }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h7 id="h7.-bootstrap-heading">Email<a
                                                class="anchorjs-link" href="#h7.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h7>
                                    </td>
                                    <td class="type-info">{{ account.email }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h7 id="h7.-bootstrap-heading">Trạng thái<a
                                                class="anchorjs-link" href="#h7.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h7>
                                    </td>
                                    {% if account.is_active %}
                                        <td class="type-info">Hoạt động</td>
                                    {% else %}
                                        <td class="type-info">Khóa</td>
                                    {% endif %}

                                </tr>
                                <tr>
                                    <td>
                                        <h7 id="h7.-bootstrap-heading">Vai trò<a
                                                class="anchorjs-link" href="#h7.-bootstrap-heading"><span
                                                class="anchorjs-icon"></span></a></h7>
                                    </td>
                                    <td class="type-info">{{ account.role.name }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h8 id="h8.-bootstrap-heading">Avatar</h8>
                                    </td>
                                    <td class="type-info" style="height:30px;"><img style="width:80px;" src="{{ account.avatar  }}" alt="">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if accounts %}
                <div class="tables">
                {#                <h2 class="title1">Tables</h2>#}
                <div class="bs-example widget-shadow" data-example-id="hoverable-table">
                <h7>Danh sách tài khoản người dùng:</h7>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width:20%;">Tên đăng nhập</th>
                        <th>Avatar</th>
                        <th style="width:20%;">Vai trò</th>
                        <th>Trạng thái</th>
                    </tr>

                    </thead>
                    {% for acc in accounts %}
                        <tbody>
                        <tr>
                            <th scope="row">{{ acc.id }}</th>
                            <td>{{ acc.name }}</td>
                            <td><img style="width:50px;height:50px;" src="{{ acc.avatar }}" alt=""></td>
                            <td>{{ acc.role.name }}</td>
                            {% if acc.is_active %}
                                <td>Hoạt động</td>
                            {% else %}
                                <td>Khóa</td>
                            {% endif %}
                            <td>
                                <div class="dots_drop">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" aria-expanded="false">
                                            <p><i class="fa fa-ellipsis-v mail-icon"></i></p>
                                        </a>
                                        <ul class="dropdown-menu ">
                                            <li>
                                                <a href="/admin/user?id={{ acc.id }}">
                                                    <i class="fa fa-reply mail-icon"></i>
                                                    View
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div class="paging-result">
                    <div class="row justify-content-end">
                        <div class="col-lg-9 col-md-8">
                            {% if accounts.has_other_pages %}
                                <ul class="pagination">
                                    {% if accounts.has_previous %}
                                        <li class="page-item"><a class="page-link" value="1">First</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% if accounts.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.number|add:'-5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in accounts.paginator.page_range %}
                                        {% if accounts.number == i %}
                                            <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>
                                        {% elif i > accounts.number|add:'-5' and i < accounts.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" value="{{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if accounts.paginator.num_pages > accounts.number|add:'4' %}
                                        <li class="page-item"><a value="{{ accounts.number|add:'5' }}">&hellip;</a>
                                        </li>
                                    {% endif %}
                                    {% if accounts.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.next_page_number }}">Next</a>
                                        </li>
                                        <li class="page-item"><a class="page-link"
                                                                 value="{{ accounts.paginator.num_pages }}">Last</a>
                                            {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                                    {% endif %}
                                    <li class="page-item disabled">  <span class="page-link">
            Page {{ accounts.number }} of {{ accounts.paginator.num_pages }}
        </span></li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>
    </div>

</div>
{% include "admin/footer.html" %}
<!--//footer-->
</div>

<!-- side nav js -->
<script src='{% static "admin/js/SidebarNav.min.js" %}' type='text/javascript'></script>
<script>
    $('.sidebar-menu').SidebarNav()
</script>
<!-- //side nav js -->

<!-- Classie -->
<!-- for toggle left push menu script -->
<script src="{% static "admin/js/classie.js" %}"></script>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };

    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>
<!-- //Classie -->
<!-- //for toggle left push menu script -->

<!--scrolling js-->
<script src="{% static "admin/js/jquery.nicescroll.js" %}"></script>
<script src="{% static "admin/js/scripts.js" %}"></script>
<!--//scrolling js-->


<!-- Bootstrap Core JavaScript -->
<script src="{% static "admin/js/bootstrap.js" %}"></script>

<!-- //Bootstrap Core JavaScript -->

</body>
</html>