<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-3 col-lg-3">
                <div class="caption text-center">
                    <h8>SẢN PHẨM</h8>
                    <p>Địa điểm</p>
                    <p>Tỉnh thành</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3 col-lg-3">
                <div class="caption text-center">
                    <h8>TỔ CHỨC</h8>
                    <p>Giới thiệu</p>
                    <p>Tin mới</p>
                    <p>Liên hệ</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3 col-lg-3">
                <div class="caption text-center">
                    <h8>LEARN MORE</h8>
                    <p>Hỗ trợ</p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sm-3 col-lg-3">

                <div class="caption text-center">
                    <h8>CONNECT WITH US</h8>
                </div>
            </div>
        </div>
    </div>
</footer>