{% load static %}
<header>

    <div class="container ">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="container">
                    <div class="row">
                        <a class="logo" href="/"><img src={% static "imgs/logo.png" %} alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="container">
                    {% if user.is_authenticated %}
                        <div class="row" style="color:#007bff;line-height:30px;margin-top:30px">
                            <div class="col-lg-7 col-md-7">
                                <div class="container">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                                data-toggle="dropdown">
                                            {{ user.name }}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/thanh-vien/{{ user.id }}">Trang cá nhân</a>
                                            <a class="dropdown-item" href="/create_location">Tạo địa điểm</a>
                                            <a class="dropdown-item" data-toggle="modal"
                                               data-target="#createCol">Tạo bộ sưu tập</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5 col-md-5">
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <a style="color:#fff;text-decoration:none;"#}
                                       href="{% url 'logout' %}?next={{ request.path }}">
                                        ĐăngXuất
                                    </a>
                                </button>
                            </div>
                        </div>

                        <!-- The Modal -->
                        <div class="modal fade" id="createCol">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content" style="width: 500px;">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Tạo bộ sưu tập mới</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;
                                        </button>
                                    </div>

                                    <!-- Modal body -->
                                    <form id="collection-form" method="get">
                                        <div class="modal-body">
                                            <input pattern=".{1,255}" title="Tối đa 255 ký tự" id="name-col" type="text"
                                                   class="form-control"
                                                   placeholder="Tên bộ sưu tập"
                                                   name="name" maxlength="255" required>
                                            <div id="validate-name"></div>
                                            <textarea class="form-control" rows="5" id="description"
                                                      name="description"
                                                      placeholder="Mô tả bộ sưu tập"></textarea>
                                            <div id="validate-des"></div>
                                            <input type="hidden" name="userId" value="{{ user.id }}"/>
                                            <button type="button" class="btn btn-primary"
                                                    onclick="create_collection();">
                                                Hoàn tất
                                            </button>
                                        </div>
                                    </form>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button id="close" type="button" class="btn btn-secondary"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="row justify-content-end">
                            <div style="color:#007bff;line-height:30px;margin-top:30px">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a href="{% url 'login' %}?next={{ request.path }}"
                                       style="color:#fff;text-decoration:none;">
                                        Đăng nhập
                                    </a>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a style="color:#fff;text-decoration:none;" href="{% url 'signup' %}">
                                        Đăng ký
                                    </a>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>