{% load static %}
<header>

    <div class="container ">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="container">
                    <div class="row">
                        <a class="logo" href="/"><img src={% static "imgs/logo.png" %} alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="container">
                    {% if user.is_authenticated %}
                        <div class="row" style="color:#007bff;line-height:30px;margin-top:30px">

                            <div class="col-lg-7 col-md-7">
                                <div class="container">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                                data-toggle="dropdown">
                                            {{ user.name }}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/thanh-vien/{{ user.id }}">Trang cá nhân</a>
                                            <a class="dropdown-item" href="/create_location">Tạo địa điểm</a>
                                            <a class="dropdown-item" data-toggle="modal"
                                               data-target="#createCol">Tạo bộ sưu tập
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-primary btn-sm ">
                                    <a style="color:#fff;text-decoration:none;"
                                       href="{% url 'logout' %}?next={{ request.path }}">
                                        ĐăngXuất
                                    </a>
                                </button>
                            </div>


                        </div>

                        {% if user.is_authenticated %}
                            <div class="row" style="color:#007bff;line-height: 20px;height: 40px;margin-top: -15px;">

                                <div id="notification" style="display:none;" class="col-lg-3 col-md-3">
                                    <div class="profile_details_left">
                                        <!--notifications of menu start -->
                                        <ul class="nofitications-dropdown">
                                            <li class="dropdown head-dpdn">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <i class="fa fa-envelope"></i>
                                                    <span style="display:none;" id="badge-notification"
                                                          class="badge">0</span>
                                                </a>
                                                <ul class="dropdown-menu" style="min-width:190px;border-radius:10px;"
                                                    id="messages">
                                                    <li>
                                                        <div class="notification_header"
                                                             style="padding-left: 15px; margin-bottom: 5px;">
                                                            <span class="count-message">Bạn không có thông báo nào</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                get_notifications();

                                function get_notifications() {
                                    $("#notification").attr('style', '')
                                    $.get('/get_notifications_not_view/', function (data) {
                                        {#alert(Object.keys(data).length)#}
                                        let messages = `<li>
                            <div style="padding-left: 15px; margin-bottom: 5px;" class="notification_header">
                                <span class="count-message">Bạn có ${data[0].count} thông báo</span>
                            </div>
                        </li>`
                                        $.each(data, function () {
                                            $("#badge-notification").attr('style', 'background: #af3131')
                                            $("#badge-notification").html(this.count)
                                            $(".notification_desc").html(` ${this.require_name} `)
                                            messages += `<li style="margin-left:5px;" onclick="view_notification(${this.userId},${this.id})">
                            <a href="#">

                                <div class="notification_desc">
                                    <p>Thêm địa điểm thành công</p>
                                    <!--<p><span>1 hour ago</span></p>-->
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>`

                                        });
                                        $("#messages").html(messages)
                                    });
                                }

                                function view_notification(id, note_id) {
                                    let pageURL = window.location.href;
                                    $.get('/view_notification/', {notification: note_id}, function (data) {
                                        window.location.replace(`/thanh-vien/${id}?notification=${note_id}`);
                                    })

                                }
                            </script>
                        {% endif %}

                        <!-- The Modal -->
                        <div class="modal fade" id="createCol">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content" style="width: 350px;">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Tạo bộ sưu tập mới</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;
                                        </button>
                                    </div>


                                    <div class="modal-body">
                                        <form id="collection-form" method="get">
                                            <div class="form-inline">

                                                <input style="width:95%;" pattern=".{1,255}" title="Tối đa 255 ký tự"
                                                       id="name-col"
                                                       type="text"
                                                       class="form-control "
                                                       placeholder="Tên bộ sưu tập"
                                                       name="name" maxlength="255" required>
                                                <label for="">
                                                    <span class="required ">*</span>
                                                </label>

                                            </div>
                                            <div id="validate-name"></div>
                                            <div class="form-inline">
                                                <label style="display:none;" for="">
                                                    <span class="required ">*</span>
                                                </label>
                                                <textarea style="margin-top:3px; width:95% ;" class="form-control"
                                                          rows="5"
                                                          id="description"
                                                          name="description"
                                                          placeholder="Mô tả bộ sưu tập"></textarea>

                                            </div>
                                            <div id="validate-des"></div>
                                            <input type="hidden" name="userId" value="{{ user.id }}"/>
                                            <button type="button" class="btn btn-primary"
                                                    onclick="create_collection();">
                                                Hoàn tất
                                            </button>
                                        </form>
                                    </div>


                                    <div class="modal-footer">
                                        <button id="close" type="button" class="btn btn-secondary"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="row justify-content-end">
                            <div style="color:#007bff;line-height:30px;margin-top:30px">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a href="{% url 'login' %}?next={{ request.path }}"
                                       style="color:#fff;text-decoration:none;">
                                        Đăng nhập
                                    </a>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a style="color:#fff;text-decoration:none;" href="{% url 'signup' %}">
                                        Đăng ký
                                    </a>
                                </button>

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</header>