{% load static %}
<header>

    <div class="container ">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="container">
                    <div class="row">
                        <a class="logo" href="/"><img src={% static "imgs/logo.png" %} alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 ">
                <div class="container">
                    {% if user.is_authenticated %}
                        <div class="row justify-content-end">
                            <div style="color:#007bff;line-height:35px;margin-top:40px">
                                <a href="/thanh-vien/{{ user.id }}">Hi {{ user.name }}!</a>
                                <a href="{% url 'logout' %}?next={{request.path}}"> logout</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row justify-content-end">
                            <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                            <a href="{% url 'signup' %}">Register</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>