{% extends 'base.html' %}
{% load static %}
{% block front %}
    {% include 'head.html' %}
{% endblock %}
{% block title %}Home{% endblock %}

<!-- templates/home.html -->

{% block content %}
    <div class="container-fluid background-image">
        {% include 'header.html' %}
        <section class="showcase my-custom-scrollbar my-custom-scrollbar-primary">
            <div class="container" style="margin-top:120px;">
                <div class="row">
                    <div class="form" method="get"></div>
                    <div class="floating-main">
                        <h1>Tìm địa điểm ăn uống của bạn</h1>
                        <div id="word-search" class="search-box">
                            <i style="margin-left: -30px;color:#9ba2a9;margin-right: 10px;font-size:21px"
                               class="fa fa-map-marker"></i>
                            <input onkeyup="suggest_location_for_search();" id="word" class="box" type="text"
                                   placeholder="Tên địa điểm..."
                                   aria-label="Search">
                        </div>
                        <div class="container location-suggest" style="background: #fff;margin-top:1px;"></div>
                        <script>
                            function suggest_location_for_search() {
                                let name = $("#word").val();
                                $(".location-suggest").empty();
                                {#alert(name=='')#}
                                if (name != '') {
                                    let collection_id = $(".addLocation").attr('value');
                                    $.get('/location_suggest/', {location_name: name}, function (data) {
                                        let optionss = ""
                                        $.each(data, function () {
                                            optionss += `
            <div class="row" style="margin-top:1px;">
                <div class="col-xs-2 col-sm-2 col-mm-2 col-lg-2">
                    <img style="width:30px;height:30px;" src="${this.avatar}" alt="">
                </div>
                <div class="col-xs-10 col-sm-10 col-mm-10 col-lg-10">
                    <a href="/ha-noi/${this.url}"><span>${this.name}</span></a>
                </div>
            </div>
            `
                                        });
                                        $(".location-suggest").html(optionss);
                                    });
                                }

                            }
                        </script>

                        <div id='loc-search' class="form-group">
                            <select id="select-loc" style="height:50px;border: 0;" class="form-control"
                                    id="exampleFormControlSelect1">
                                <option value="" selected="selected">Chọn khu vực...</option>
                                {% for dis in districts %}
                                    <option value="{{ dis.id }}">{{ dis.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id='cat-search' class="form-group">
                            <select id="select-cat" style="height:50px;border: 0;" class="form-control"
                                    id="exampleFormControlSelect1">
                                <option value="">Loại nhà hàng...</option>
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id='cui-search' class="form-group">
                            <select id="select-cui" style="height:50px;border: 0;" class="form-control"
                                    id="exampleFormControlSelect1">
                                <option value="" selected="selected">Loại ẩm thực...</option>
                                {% for cui in cuisines %}
                                    <option value="{{ cui.id }}">{{ cui.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input id="but-sub" type="submit" value="Lets go!"
                               class="btn btn-primary pull-right"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br>

    <div class="feedback">
        <div class="container">
            <div class="item-res">
                <h2>Địa Điểm Nổi Bật</h2>
                {% if locations %}
                    <div class="row">
                        {% for location in locations|slice:"0:4" %}
                            <div class="col-xs-3 col-sm-3 col-mm-3 col-lg-3">
                                <img src="{{ location.avatar }}" alt="" style="width: 100% \9"
                                     class="img-thumbnail img-fluid">
                                <div class="caption text-center">
                                    <a target="_blank" href=" ha-noi/{{ location.url }}">{{ location.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for location in locations|slice:"4:8" %}
                            <div class="col-xs-3 col-sm-3 col-mm-3 col-lg-3">
                                {#                            <div class="thumbnail">#}
                                <img src="{{ location.avatar }}" alt="" style="width: 100% \9"
                                     class="img-thumbnail img-fluid">
                                <div class="caption text-center">
                                    <a target="_blank" href=" ha-noi/{{ location.url }}">{{ location.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for location in locations|slice:"8:12" %}
                            <div class="col-xs-3 col-sm-3 col-mm-3 col-lg-3">
                                {#                            <div class="thumbnail">#}
                                <img src="{{ location.avatar }}" alt="" style="width: 100% \9"
                                     class="img-thumbnail img-fluid">
                                <div class="caption text-center">
                                    <a target="_blank" href=" ha-noi/{{ location.url }}">{{ location.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="paging-result">
                <div class="row justify-content-end">
                    <div class="col-lg-10 col-md-10">
                        {% if locations.has_other_pages %}
                            <ul class="pagination">
                                {% if locations.has_previous %}
                                    <li class="page-item"><a class="page-link" value="1">First</a>
                                    </li>
                                    <li class="page-item"><a class="page-link"
                                                             value="{{ locations.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="">Previous</a>
                                    </li>
                                {% endif %}

                                {% if locations.number|add:'-4' > 1 %}
                                    <li class="page-item"><a class="page-link"
                                                             value="{{ locations.number|add:'-5' }}">&hellip;</a>
                                    </li>
                                {% endif %}
                                {% for i in locations.paginator.page_range %}
                                    {% if locations.number == i %}
                                        <li class="page-item active"><a class="page-link" href="">{{ i }}</a></li>
                                    {% elif i > locations.number|add:'-5' and i < locations.number|add:'5' %}
                                        <li class="page-item"><a class="page-link" value="{{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if locations.paginator.num_pages > locations.number|add:'4' %}
                                    <li class="page-item"><a class="page-link" value="{{ locations.number|add:'5' }}">&hellip;</a>
                                    </li>
                                {% endif %}
                                {% if locations.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             value="{{ locations.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item"><a class="page-link"
                                                             value="{{ locations.paginator.num_pages }}">Last</a>
                                        {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                                {% endif %}
                                <li class="page-item disabled">
                                    <a class="page-link">Page {{ locations.number }}
                                        of {{ locations.paginator.num_pages }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block dynamic %}
    {% include 'stick_suggest.html' %}
    {% include 'footer.html' %}
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
{% endblock %}
