
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% extends 'base.html' %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="reset-form" method="post"
                  action="">
                 {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="pass1">Địa chỉ email</label></td>
                        <td><input id="pass1" name="pass1"
                                   type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="pass2">Địa chỉ email</label></td>
                        <td><input id="pass2" name="pass2"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>

                <input type="submit" value="Thay đổi"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />

            </form>
        </div>
    </div>
{% endblock content %}