{% extends 'base.html' %}
{% block content %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img style="width:50px;height:50px;"
                     src="http://hinhnendethuong.com/uploads/images/tong-hop-20-hinh-nen-kinh-dien-ve-songoku-cuc-dep-va-chat-1483783077-19.jpg"
                     class="rounded-circle" id="icon" alt="User Icon"/>
            </div>
            <!-- Login Form -->
            <form id="login-form" method="post" action="">
                {% csrf_token %}
                <input required pattern=".{1,50}"  title="Tối đa 50 ký tự" type="password" class="fadeIn second" id="pass1" name="pass1" placeholder="Mật khẩu mới">
                <input required pattern=".{1,50}"  title="Tối đa 50 ký tự" type="password" class="fadeIn third" id="pass2" name="pass2" placeholder="Xác nhận mật khẩu">
                <input type="hidden" name="next" value="{{ next }}"/>
                {% if message %}
                    <p style="color:red">Hai mật khẩu không khớp</p>
                {% endif %}
                 <input type="submit" class="fadeIn fourth" value="Thay đổi mật khẩu">
            </form>
        </div>
    </div>
{% endblock content %}